<ion-view view-title="特价机票">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-navicon-round "></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="pDivider"></div>
		<div class="pContainer">
			<div class="selectWay">
				<button class="go button" ng-class="{'activeButton':showP}"  ng-click="go()">单程</button>
				<button class="gobuck button" ng-class="{'activeButton':!showP}"  ng-click="goBack()">往返</button>
			</div>
			<div class="selectGo" ng-show="showP">
				<div class="row">
					<div class="col-80">
						<div class="list">
						  <label class="item item-input">
						    <span class="input-label">出发城市</span>
						    <input type="text" placeholder="九江" ng-model="cityData.startCity">
						  </label>
						  <label class="item item-input">
						    <span class="input-label">到达城市</span>
						    <input type="text" placeholder="南昌" ng-model="cityData.endCity">
						  </label>
						</div>
					</div>
					<div class="col-20">
						<button class="icon ion-android-sync dh button-clear" ng-click="exchange(cityData.startCity,cityData.endCity)"></button>
					</div>
				</div>
				<div class="time">
				  <label class="item item-input">
				    <span class="input-label">出发时间</span>
				    <input type="date">
				  </label>
				</div>
				<button class="button button-block button-positive light">搜索</button>
			</div>
			<div class="selectGoB" ng-show="!showP">
				<div class="row">
					<div class="col-80">
						<div class="list">
						  <label class="item item-input">
						    <span class="input-label">出发城市</span>
						    <input type="text" placeholder="九江" value="" ng-model="cityData.startCity"/>
						  </label>
						  <label class="item item-input">
						    <span class="input-label">到达城市</span>
						    <input type="text" placeholder="南昌" value="" ng-model="cityData.endCity"/>
						  </label>
						</div>
					</div>
					<div class="col-20">
						<button class="icon ion-android-sync dh button-clear" ng-click="exchange(cityData.startCity,cityData.endCity)"></button>
					</div>
				</div>
				<div class="time">
					  <label class="item item-input">
					    <span class="input-label">出发时间</span>
					    <input type="date">
					  </label>
				</div>
				<div class="time">
				    <label class="item item-input">
				       <span class="input-label">返程时间</span>
				    <input type="date">
				  </label>
				</div>
				<button class="button button-block button-positive light">搜索</button>
			</div>
			
		</div>
		
	</ion-content>
</ion-view>