<ion-view hide-nav-bar="true">
	<ion-content>
	<div class="containers">
		<div class="header">
			<i class="pback icon ion-ios-arrow-thin-left" ng-click="goFind()"></i>
			<i class="share icon ion-android-checkmark-circle"></i>
			<!--<i class="collect icon ion-ios-star-outline"></i>-->
		</div>
		<ion-slide-box auto-play="true" does-continue="true" show-pager="false" delegate-handle="slidebox1" >
			<ion-slide ng-repeat="item in obj.slideImg" class="slideBox">
				<img ng-src="{{item}}" class="pImg"/>
			</ion-slide>
		</ion-slide-box>
		<div class="slide-title">{{obj.title}}<span>{{num}}张</span></div>
		<div class="pMessage">
			<div class="row pProduce">
				<div class="ptitle col-90" ng-class="{'activePtitle':isPtitle}">
					{{obj.message}}
				</div>
				<div class="col-10">
					<i class="icon ion-ios-arrow-down" ng-class="{'ion-ios-arrow-up':isPtitle}" ng-click="showMore()"></i>
				</div>
			</div>
			<div class="priceNum">
				<div class="price">&yen;{{obj.price}}起/份</div>
				<div class="pnum">{{obj.number}}人购买</div>
			</div>
			<div class="recommend row">
				<div class="col">
					<dl>
						<dt>{{obj.dt}}</dt>
						<dd>{{obj.dd}}</dd>
					</dl>
				</div>
			</div>
		    <div class="item item-divider"></div>
		    <div class="selectTime">
		    	<i class="icon ion-social-twitch-outline"></i>
		    	<span>{{time.year}}/</span>
		    	<span>{{time.month}}/</span>
		    	<span>{{time.day}}/</span>
		    	<span>{{time.week}}</span>
		    	<span class="tell">时间</span>
		    </div>
		    <div class="item item-divider"></div>
		    <div class="product">
		    	<h1>详情</h1>
		    	<ion-list>
		    		<ion-item ng-repeat="imgA in obj.list" class="listPadd">
		    			<img ng-src="{{imgA}}" />
		    		</ion-item>
		    	</ion-list>
		    </div>
		</div>
		</div>
	</ion-content>
	<ion-footer-bar class="bar-light footer">
		<div class="row">
			<div class="col-25">
				<i class="icon ion-ios-telephone-outline"></i>
				<p>电话咨询</p>
			</div>
			<div class="col-25">
				<i class="icon ion-ios-people-outline"></i>
				<p>客服咨询</p>
			</div>
			<div class="col-50">
				<button class="button">立即预定</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>